/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding:27px 0 0;
	background: url("./images/stitched_wool.png") repeat scroll left top #FFFFFF;
}

#logo {
    background: url(".homeforgrandma.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: inline-block;
    height: 40px;
    margin: 30px 0 30px;
    text-indent: -9999px;
    width: 280px;
}

#logo-img {
	background: url("./images/B-card.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	height: 100px;
	width: 100px;
	background-size: contain;
	float: left;
}

.content-container {
	margin-left: 100px;
	margin-top: 10px;
	height: 100px;
	width: 300px;
}

.logo-content1 {
	background: url("./images/logocontent1.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	background-size: contain;
    height: 20px;
    text-indent: -9999px;
    width: 280px;
}

.logo-content2 {
	background: url("./images/logocontent2.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	background-size: contain;
    height: 30px;
    text-indent: -9999px;
    width: 280px;
}

#video {
    box-shadow: 0 6px 6px 5px rgba(0, 0, 0, 0.1);
    margin: 0 -20px 40px;
    padding: 0 20px;
}

#video_top {
    background: url("./images/video_top.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}

#video_bot {
    background: url("./images/video_bottom.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}

#video_top, #video_bot {
    height: 15px;
    margin: 0 -20px;
    padding: 0 20px;
    width: 100%;
}

#video_main {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 -20px;
    padding: 0 20px;
}

.fluid-width-video-wrapper {
    padding: 0;
    position: relative;
    width: 100%;
    height: 500px;
}

#video_clip {
	height: 100%;
	width: 100%;
}
